.blog_wrapper{
    width: 100%;
}
.footer{
    top: 0;
}
.blog_des{
    padding-top: 18px;
    border-top-right-radius: 5px;
    font-family: 'Barlow', sans-serif;
    background-color: #fff;
    font-weight: 500;
    position: relative;
    top: -68px;
    width: 320px;
}
.blog_des ul{
    display: flex;
    padding-left: 10px;
}
.blog_des ul li{
    padding-left: 12px;
}

.single_blog{
    position: relative;
    width: 100%;
}
.single_blog img{
    width: 100%;
}
.blog_post{
    /* position: relative; */
    /* height: 1000vh; */
    /* padding: 0px 10px; */
}
.blog_des ul{
    list-style: none;
    display: flex;
    color: #8f949d;
}
.blog_head{
    width: 336px;
    padding-left: 20px;
    text-align: left;
}
.blog_head h3 {
    width: 214px;
}
.blog_head p {
    width: 224px;
    color: #828892;
    margin-top: 20px;
    font-size: 18px;
    line-height: 34px;
}
.blog_date {
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: center;
    width: 70px;
    padding: 10px 0px;
    background-color: #fc3c3c;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
}
.blog_head h3 a {
    color: #000;
    text-decoration: none;
    font-size: 30px;
    line-height: 40px;
    font-weight: 600;
}
.blog_des ul li i {
    color: #fc3c3c;
    padding-right: 2px;
}

@media (max-width: 798px) {

    .footer{
        top: 0px !important;
    }
    .copyright{
        top: 0px !important;
    }


}